@charset "UTF-8";
/*--------------------------------------------------------------
# Mixins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Cores
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Variáveis
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html {
    scroll-behavior: smooth;
}

* {
    outline: none !important;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.title-box {
    font-family: "Squada One", cursive;
    color: #000;
}

.btn,
.nav-pills .nav-link {
    /* font-family: "Squada One", cursive; */
    border-radius: 60px;
}

.nav-pills .nav-link {
    color: #ff7700;
}

.text-warning {
    color: #ff7700 !important;
}

.btn-warning,
.nav-pills .nav-link.active {
    color: #fff;
    background: #ff7700;
    border-color: #ff7700;
}

.btn-warning:hover,
.nav-pills .nav-link.active:hover {
    color: #fff;
    border-color: #da6600;
    background: #da6600;
}

p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
    color: #525252;
}

.fc .fc-non-business {
    background: #fff !important;
}

.fc-h-event .fc-event-main {
    white-space: break-spaces !important;
    text-align: center !important;
    width: 100%;
}

.fc .fc-button-primary {
    color: #ff7700 !important;
    border-color: #ff7700 !important;
    background: #fff !important;
}

.fc-event-main .event-destaque {
    padding: 2px 4px;
    border-radius: 60px;
    color: #fff;
    background: #ff7700;
}

.fc-event-main .event-simples {
    color: #000;
}

.fc-event-main small {
    display: block;
    color: #000;
}

.fc-header-toolbar .fc-toolbar-chunk:nth-child(3) {
    display: none;
}

@media only screen and (max-width: 768px) {
    .d-block-mobile {
        display: block;
    }
    .fc .fc-button-group > .fc-button {
        padding: 0;
    }
    .fc .fc-button {
        padding: 0;
    }
    .fc .fc-toolbar-title {
        font-size: 1em;
    }
    .fc-h-event .fc-event-main {
        white-space: break-spaces !important;
        overflow-wrap: break-word;
    }
    .fc-event-main .event-destaque {
        font-size: 9px;
    }
    .fc-event-main .event-simples {
        font-size: 9px;
    }
}

@media only screen and (max-width: 768px) {
    #modal-cadastro .nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.ads-desktop {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .ads-desktop {
        display: none;
    }
}

.fc {
    cursor: pointer;
}

.fc .fc-highlight {
    background: #ff770040;
}

.desabilitarevento .fc {
    cursor: pointer !important;
}

.desabilitarevento .fc-highlight {
    display: none !important;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 997;
}

/*--------------------------------------------------------------
# Includes
--------------------------------------------------------------*/

.bodyGeral {
    margin-top: 60px;
}

.bar-top {
    background: #fff;
}

.bar-top .navbar-brand img {
    height: 55px;
}

.bar-top .navbar-nav .nav-item .nav-link {
    font-family: "Squada One", cursive;
    color: #000;
    padding: 5px 10px;
    font-size: 20px;
}

.bar-top .navbar-nav .nav-item .nav-link:hover {
    color: #ff7700;
}

.bar-top .navbar-nav .nav-item.active .nav-link {
    color: #ff7700;
}
.navProdutor {
    border: 1px solid #f70;
    margin-left: 10px;
    border-radius: 60px;
    padding: 0px 10px;
}

.itemLogin {
    color: #fff !important;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 60px;
    background: #ff7700;
}

.bar-top .navbar-nav .nav-item .nav-link:hover .itemLogin {
    background: #da6600;
}

.imgArtistas {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .bar-top .navbar-nav {
        position: fixed;
        left: -250px;
        background: #fff;
        height: 100vh;
        top: 0;
        padding: 20px;
        width: 250px;
        -webkit-box-shadow: 0 0 10px #a7a7a7;
        box-shadow: 0 0 10px #a7a7a7;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
        z-index: 999;
    }
    .bar-top .navbar-nav.active {
        left: 0;
    }
    .bar-top .navbar-nav .nav-item:last-child .nav-link {
        padding: 5px 10px;
        color: #000;
        background: none;
    }

    .navProdutor {
        margin-left: 0px;
        margin-top: 15px;
    }
    .slider-artistas .slick-slider .slick-dots {
        bottom: -20px !important;
    }

    .section-content {
        margin: 50px 0px 0px !important;
    }

    #mais-artistas {
        margin: 5px 0px 0px !important;
    }

    .pt-20-mobile {
        padding-top: 20px;
    }
    .title-section {
        margin-bottom: 15px !important;
    }
    .parceiros {
        padding-bottom: 50px !important;
    }
    .newContainer {
        width: 96% !important;
    }

    .imgArtistas {
        width: 100% !important;
        height: 181px !important;
    }

    footer .logo-footer img {
        width: 50% !important;
        margin-left: 23%;
        margin-bottom: 25px;
    }
    .ulFooter {
        /* display: flex; */
        margin-left: 40% !important;
    }
    .ml-30 {
        margin-left: 30px;
    }
    .mt-0-mobile {
        margin-top: 0px !important;
    }
    .pd-0-mobile {
        padding-top: 0px !important;
    }
    .copyrightMobile {
        font-size: 12px;
        text-align: center;
    }
    .btn-contratar {
        width: 80%;
    }

    .rate-area > label {
        font-size: 32px !important;
    }

    .section-content#mais-artistas .slider-artistas {
        margin-bottom: 30px !important;
    }

    .slider-home {
        margin-bottom: -7px !important;
    }

    .cancelamentoTextMobile {
        font-size: 13px;
    }
    .ml-6-mobile {
        margin-left: 6px;
    }
    .paddingGalery {
        padding: 6px 14px !important;
    }
    .listArtista .box-artista {
        width: 100%;
    }
    .listArtista .box-artista .item {
        padding: 0px;
    }
    .newContainer .listArtista {
        padding: 0px 6px;
    }
    .listArtista .item .content .rate-area label {
        width: 1.2em;
    }
    .listArtista .item .rate-area > label {
        font-size: 19px !important;
    }
    .listArtista .box-artista .content .btn-light {
        margin-bottom: -65px;
    }

    .divHourInitialBox {
        width: 22% !important;
        padding: 8px !important;
    }
    .row .form-group2 {
        margin-bottom: 10px !important;
    }
    .displayBlockMobile {
        display: block !important;
    }
    .divAditional {
        margin-top: 15px !important;
    }
    .btnWidth100Mobile {
        width: 100% !important;
    }
    .displayNoneMobile {
        display: none !important;
    }
    .mb-10-mobile {
        margin-bottom: 10px !important;
    }
    .mt-10-mobile {
        margin-top: 10px !important;
    }
    .pt-25-mobile {
        padding-top: 25px !important;
    }
    .artist-info .thumb-share img {
        height: auto !important;
    }
    .aPartirdeMobile {
        width: 120px !important;
    }
    .ateMobile {
        width: 130px !important;
    }
    .input-group .input-group-append .btnFilter {
        padding: 6px 9px !important;
        border-radius: 50% !important;
    }
    .iconFilterMobile {
        margin-right: 0px !important;
    }
    .fontSizeDetail {
        font-size: 0.55rem !important;
    }
    .lineHeight1 {
        line-height: 1 !important;
    }
    .fontSizeStructureList {
        font-size: 0.75rem !important;
    }

    .card .card-body {
        padding: 1rem !important;
    }

    .btnFullMobile {
        width: 100% !important;
    }
    .ml-20-desktop {
        margin-left: 0px !important;
    }

    .titleValueAditional {
        font-size: 0.92rem;
    }
    .ml-6-mobile {
        margin-left: 6px !important;
    }
    .bodyGeral {
        margin-top: 42px !important;
    }

    .pl-20-mobile-percent {
        padding-left: 20% !important;
    }
    .boxStructure {
        padding: 18px 0px 1px 15px !important;
        margin: 20px 11px !important;
        width: 94%;
    }
    .table_subtotal_mobile tbody tr td {
        font-size: 0.9rem;
    }
    .titleStructuresMobile {
        font-size: 1rem;
    }
    .line-structure {
        margin-top: -18px !important;
    }
    .mt-20-mobile {
        margin-top: 20px !important;
    }
    .showMobile {
        display: block !important;
    }
    .boxDisponibilidade {
        position: fixed;
        bottom: 0px;
        width: 100%;
        background: #e7e7e7;
        z-index: 999;
        display: block !important;
    }

    .showDisponibilidade {
        width: 92%;
        margin: 13px 10px;
        font-size: 1.3rem;
        line-height: 1.2 !important;
        padding: 11px 1px;
    }

    .closeDisponibilidade {
        float: right;
        background: #f5f5f5;
        padding: 2px 9px;
        border-radius: 50%;
        margin-top: -61px;
        margin-right: -10px;
        display: block !important;
        cursor: pointer;
    }

    .newShadow {
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
            0 15px 12px rgba(0, 0, 0, 0.22) !important;
        transition: box-shadow 1.2s ease-in-out;
    }

    .content-sobre aside .form-disponivel form {
        box-shadow: initial !important;
        -webkit-box-shadow: initial;
    }
}

.closeDisponibilidade {
    display: none;
}

.titleBoxs {
    font-size: 1.5rem;
    font-weight: 500;
}

.listArtista .box-artista {
    margin-bottom: 20px;
}

.line-icon p {
    font-size: 13px;
}

.line-icon h6 {
    margin-bottom: 0px;
}

.content-info .align-items-center span {
    font-size: 15px;
}

.content-info p {
    font-size: 14px;
}

.content-info .d-flex span {
    font-size: 14px;
}

.sobre strong {
    font-size: 0.95rem;
}

#integrantes strong {
    font-size: 0.95rem;
}

.sobre li {
    font-size: 0.85rem;
}

#integrantes li {
    font-size: 0.85rem;
}

.list-group .list-group-item {
    padding: 0.35rem 1.25rem;
}

.content-info .rate-area {
    margin: 0px;
}

footer {
    padding-top: 50px;
    background: url("../img/bg-footer.jpg") #000;
}

footer .logo-footer img {
    width: 100%;
}

footer p {
    color: #fff;
}

footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6 {
    font-family: "Squada One", cursive;
    color: #fff;
}

footer .social-links {
    padding: 0;
    display: block;
    text-align: center;
}

footer .social-links li {
    display: inline-block;
    margin: 0 5px;
}

footer .social-links li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 60px;
    color: #000;
    background: #fff;
}

footer .social-links li a:hover {
    text-decoration: none;
    background: #ff7700;
}

footer .cards {
    margin-top: 20px;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

footer .cards span {
    margin-bottom: 10px;
}

footer .cards span img {
    height: 40px;
}

@media only screen and (max-width: 768px) {
    footer .cards {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        display: flex;
    }
    footer .cards span img {
        height: 30px;
    }
    .bar-top .navbar-brand img {
        height: 36px;
    }
}

footer .copyright {
    margin-top: 30px;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #ff7700;
}

footer .copyright p {
    margin: 0;
}

@media only screen and (max-width: 768px) {
    footer .col-md-8 p {
        margin-top: 15px;
    }
}

/*--------------------------------------------------------------
# Modules
--------------------------------------------------------------*/
.search-box {
    margin-bottom: 0px;
    background: #f8f8f8;
    padding: 0 0 15px 0;
}

.search-box:before {
    display: block;
    content: "";
    width: 100%;
    height: 10px;
    background: url("../img/line-top.png");
    background-size: 100%;
    margin-bottom: 15px;
}

.search-box .form-control {
    border: none;
    padding: 5px 0;
    border-radius: 0;
    border-bottom: solid 1px #525252;
    background: none;
}

.search-box .btn {
    margin-left: 5px !important;
    border-radius: 60px !important;
}

.search-box .advance-search {
    height: 0;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.search-box .advance-search.active {
    height: auto;
    overflow: visible;
    opacity: 1;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.search-home .search-box {
    margin-bottom: 0;
}

#menu-float {
    position: fixed;
    padding-left: 20px;
    left: -20px;
    border-radius: 4px;
    background: #ff7700;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

#menu-float.active {
    left: -141px;
}

#menu-float ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#menu-float ul li a {
    color: #fff;
    border-radius: 0;
}

#menu-float ul li a.active {
    background: #da6600;
}

@media only screen and (max-width: 768px) {
    #menu-float {
        display: none;
    }
}

.artist-info {
    background: #f8f8f8;
}

.artist-info h2 {
    margin: 0;
}

.artist-info p {
    margin: 0;
}

.artist-info .thumb-share {
    position: relative;
}

.artist-info .thumb-share img {
    width: 100%;
}

.artist-info .thumb-share:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(black),
        to(rgba(0, 0, 0, 0))
    );
    background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 100%);
}

.artist-info .thumb-share .share-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 5px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 15px;
    z-index: 3;
}

.artist-info .thumb-share .share-buttons .btn {
    margin: 0 5px;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .artist-info .thumb-share .share-buttons .btn {
        font-size: 11px;
    }
}

.artist-info .content-info {
    padding: 20px 0;
}

@media only screen and (max-width: 768px) {
    .artist-info .content-info {
        padding: 20px;
    }
    .artist-info .content-info h3 {
        font-size: 20px;
    }
}

.rate-area {
    padding: 0;
    margin: 10px 0;
    border-style: none;
}

.rate-area > input:checked ~ label {
    color: gold;
    cursor: default;
}

.rate-area:not(:checked) > input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0);
    cursor: default;
}

.rate-area > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: default;
    font-size: 20px;
    line-height: 1;
    color: lightgrey;
}

.rate-area > label:before {
    content: "★";
}

.rate-area > label:hover,
.rate-area > label:hover ~ label {
    color: gold;
}

.rate-area > input:checked + label:hover,
.rate-area > input:checked + label:hover ~ label,
.rate-area > input:checked ~ label:hover,
.rate-area > input:checked ~ label:hover ~ label,
.rate-area > label:hover ~ input:checked ~ label {
    color: gold;
}

.agent-info.bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.agent-info.bottom .agent-info-content {
    margin: 0;
    width: auto;
}

.agent-info.bottom .info-bottom {
    max-width: 400px;
}

@media only screen and (max-width: 768px) {
    .agent-info.bottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .agent-info.bottom .info-bottom {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 30px;
    }
    .agent-info.bottom .info-bottom .btn {
        margin-bottom: 10px;
    }
}

.agent-info .agent-info-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.agent-info .agent-info-content .thumb {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 60px;
    margin-right: 20px;
}

.agent-info .agent-info-content .content-info p {
    margin-bottom: 5px;
}

@media only screen and (max-width: 768px) {
    .agent-info .title-box {
        font-size: 18px;
    }
    .agent-info .content-info .d-flex {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        -webkit-box-align: start !important;
        -ms-flex-align: start !important;
        align-items: flex-start !important;
    }
    .agent-info .content-info .d-flex:first-child span:nth-child(2n) {
        display: none;
    }
    .agent-info .agent-info-content .thumb {
        width: 60px;
    }
}

.content-sobre .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.content-sobre article {
    width: calc(100% - 340px);
}

.content-sobre .line-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
}

.content-sobre .line-icon img {
    width: 42px;
    margin-right: 10px;
}

.content-sobre .line-icon h5 {
    margin: 0px;
}

.content-sobre .line-icon p {
    margin: 0px;
}

.content-sobre .sobre-o-artista ul {
    margin: 20px 0;
    padding: 0;
}

.content-sobre .sobre-o-artista ul li {
    list-style: none;
    margin-bottom: 3px;
}

.content-sobre .sobre-o-artista ul li.list-group-item {
    margin: 0 0 -1px 0;
}

.content-sobre .sobre-o-artista ul li a {
    color: #000;
}

.content-sobre .sobre-o-artista ul li a:hover {
    text-decoration: none;
    color: #ff7700;
}

.content-sobre .sobre-o-artista ul li a.com-icone img {
    height: 30px;
}

.content-sobre aside {
    position: relative;
    width: 300px;
}

.content-sobre aside .form-disponivel.fixed {
    position: fixed;
    top: 95px;
    width: 300px;
}

.content-sobre aside .form-disponivel form {
    border-radius: 5px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 10px #c7c7c7;
    box-shadow: 0px 0px 10px #c7c7c7;
}

@media only screen and (max-width: 768px) {
    .content-sobre .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .content-sobre article {
        width: 100%;
    }
    .content-sobre aside {
        width: 100%;
        margin-bottom: 30px;
    }
}

.lightgallery .gallery-item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: block;
}

.lightgallery .gallery-item.icon-img:after,
.lightgallery .gallery-item.icon-video:after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 9;
    background-size: 100%;
}

.lightgallery .gallery-item.icon-video:after {
    background: url("../img/icon-play2.svg");
}

.lightgallery .gallery-item.icon-img:after {
    background: url("../img/icon-img.svg");
}

.lightgallery .gallery-item img {
    width: 100%;
}

.lightgallery .gallery-item img:hover {
    opacity: 0.8;
}

#avaliacoes {
    margin: 20px 0;
}

#avaliacoes .col-md-6 {
    margin-bottom: 20px;
}

#avaliacoes .avaliacao-user p a {
    color: #000;
    font-weight: 500;
}

#avaliacoes .avaliacao-user .content-avaliacao-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

#avaliacoes .avaliacao-user .content-avaliacao-user .thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 60px;
    margin-right: 20px;
}

#avaliacoes .avaliacao-user .content-avaliacao-user .content-info p {
    margin-bottom: 5px;
}

#avaliacoes .avaliacao-user .content-avaliacao-user .lightgallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 200px;
}

#avaliacoes .avaliacao-user .content-avaliacao-user .lightgallery a {
    margin: 0 5px;
    width: calc(50% - 5px);
}

@media only screen and (max-width: 768px) {
    #avaliacoes .content-avaliacao-user {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    #avaliacoes .content-avaliacao-user .lightgallery {
        width: 180px;
        margin: 15px 0;
    }
    #avaliacoes .col-md-12 .btn {
        margin: auto;
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    #galeria {
        padding: 0 15px;
    }
    #galeria .col-12.col-md-6 {
        padding: 0px 5px;
        margin-bottom: 5px !important;
    }
    #galeria .col-12.col-md-6 {
        margin-bottom: 20px;
    }
    #galeria .col-12.col-md-6 .col-md-12 {
        margin: 5px 0 !important;
        padding: 0 26px;
    }
    #galeria .col-12.col-md-6 .col-6.col-md-6 {
        padding: 0px 5px;
    }
}

@media only screen and (max-width: 768px) {
    #repertorio .com-icone span {
        display: none;
    }
    #repertorio strong {
        display: block;
    }
}

.box-adicionar-tempo {
    margin-top: 10px;
}

.box-adicionar-tempo .title-box {
    padding: 10px;
    background: #ff7700;
    color: #fff;
    border-radius: 4px 4px 0 0;
    display: inline-block;
}

.box-adicionar-tempo .content-box {
    padding: 20px;
    border: solid 1px #d0d0d0;
}

.slider-horas {
    margin: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider-horas .item {
    padding: 0 20px;
}

@media only screen and (max-width: 768px) {
    .slider-horas .item .d-flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.slider-horas .item .cell {
    width: 100%;
    background: #f8f8f8;
    padding: 5px 10px;
    border: solid 1px #fff;
}

.slider-horas .item .cell h3 {
    text-align: center;
    font-size: 1.5rem;
}

.slider-horas .item .cell h5 {
    text-align: center;
    font-size: 1.2rem;
}

.slider-horas .item .cell .min {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.slider-horas .item .cell .min span {
    width: 100%;
    padding: 2px 5px;
    color: #fff;
    border: solid 1px #fff;
    text-align: center;
    background: #525252;
}

.slider-horas .item .cell .min span.active {
    background: #ff7700;
}

.slider-horas .slick-arrow {
    font-size: 30px;
    cursor: pointer;
}

.slider-horas .slick-slide > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.slider-home {
    margin-bottom: -6px;
}

.slider-home .bg-slider {
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .slider-home .bg-slider {
        background: #000 !important;
    }
}

.slider-home .items .item {
    height: 636px;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .slider-home .items .item {
        height: 286px;
    }
}

.slider-home .items .item .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.slider-home .items .item .container h2,
.slider-home .items .item .container h3,
.slider-home .items .item .container h4 {
    font-family: "Squada One", cursive;
    color: #fff;
}

.slider-home .items .item .container h2 span,
.slider-home .items .item .container h3 span,
.slider-home .items .item .container h4 span {
    color: #ff7700;
}

.slider-home .items .item .container h2 {
    font-size: 4rem;
}

.slider-home .items .item .container h3 {
    color: #ff7700;
    font-size: 2.5rem;
}

.slider-home .items .item .container h4 {
    font-size: 1.5rem;
}

.slider-home .items .item .container .btn {
    margin-top: 20px;
}

@media only screen and (max-width: 768px) {
    .slider-home .items .item .container h2 {
        font-size: 2rem;
    }
    .slider-home .items .item .container h3 {
        font-size: 1.5rem;
    }
    .slider-home .items .item .container h4 {
        font-size: 1rem;
    }
}

.slider-home .slick-slider.slick-dotted {
    margin-bottom: 0;
}

.slider-home .slick-slider .slick-dots {
    bottom: 15px;
}

.slider-home .slick-slider .slick-dots li {
    margin: 0;
}

.slider-home .slick-slider .slick-dots li button:before {
    font-size: 11px;
    color: #fff;
}

@media only screen and (max-width: 425px) {
    .slider-artistas {
        margin: 0 -10px;
    }
}

.slider-artistas .slick-track {
    padding: 0 0 10px 0;
}

.slider-artistas .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider-artistas .items .item {
    padding: 0 10px;
}

@media only screen and (max-width: 425px) {
    .slider-artistas .items .item {
        padding: 5px;
    }
}

.slider-artistas .items .item:hover {
    opacity: 0.8;
}

.slider-artistas .items .item .thumb {
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.slider-artistas .items .item .thumb img {
    width: 100%;
}

.slider-artistas .items .item .content {
    position: relative;
    padding: 10px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: 0 0 12px #00000029;
    box-shadow: 0 0 12px #00000029;
}

.slider-artistas .items .item .content .btn-light {
    position: absolute;
    right: 10px;
    top: -26px;
    z-index: 9;
    -webkit-box-shadow: 0 0 10px #0000005c;
    box-shadow: 0 0 10px #0000005c;
}

.slider-artistas .items .item .content h2 {
    font-family: "Squada One", cursive;
    color: #000;
    font-size: 19px;
    margin-top: 5px;
}

.slider-artistas .items .item .content p {
    margin: 0px;
}

@media only screen and (max-width: 425px) {
    .item .content p {
        text-align: center;
        font-size: 0.75rem;
    }
}

.slider-artistas .items .item .content .btn {
    margin-top: 10px;
}

@media only screen and (max-width: 425px) {
    .slider-artistas .items .item .content .btn {
        font-size: 13px;
    }
}

.slider-artistas .items .item .content .rate-area {
    margin: 0px 0px 3px 0px;
}

.slider-artistas .items .item .content .rate-area label {
    margin: 0 2px;
}

@media only screen and (max-width: 425px) {
    .slider-artistas .items .item .content .rate-area label {
        width: 0.55em;
        line-height: 0;
    }
    .slider-artistas .items .item .content .rate-area label:before {
        font-size: 18px;
        line-height: 0.8;
    }
}

.slider-artistas .items .item.disponivel .thumb {
    position: relative;
}

.clients-section {
    background-color: #f0f0f0;
}

.home-newsletter {
    background-image: linear-gradient(45deg, #ff9600, #fa6900);
    color: white;
}
.home-newsletter .form-control {
    height: 50px;
    border-color: transparent;
    border-radius: 20px 0 0 20px;
}
.home-newsletter .btn {
    min-height: 50px;
    border-radius: 0 20px 20px 0;
    background: #b90000;
    color: #fff;
}

.about-company-section:before {
    display: block;
    content: "";
    width: 100%;
    height: 10px;
    background: url("../img/line-top.png");
    background-size: 100%;
    margin-bottom: 15px;
}

.media-container-row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
}

.slider-artistas .items .item.disponivel .thumb:before {
    content: "";
    background: #00bb64;
    position: absolute;
    height: 15px;
    width: 15px;
    z-index: 9;
    bottom: 11px;
    left: 10px;
    border-radius: 30px;
    border: solid 2px #fff;
    -webkit-box-shadow: inset 0 0 10px #00000038;
    box-shadow: inset 0 0 10px #00000038;
}

.slider-artistas .items .item.disponivel .thumb:after {
    content: "Disponivel agora";
    position: absolute;
    bottom: 0px;
    padding: 10px 0;
    left: 0px;
    text-align: start;
    text-indent: 30px;
    color: #fff;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(black),
        to(rgba(0, 0, 0, 0))
    );
    background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    font-size: 14px;
}

.slider-artistas .slick-arrow {
    font-size: 30px;
    cursor: pointer;
}

.slider-artistas .slick-slider.slick-dotted {
    margin-bottom: 0;
}

.slider-artistas .slick-slider .slick-dots {
    bottom: -35px;
}

.slider-artistas .slick-slider .slick-dots li {
    margin: 0;
}

.slider-artistas .slick-slider .slick-dots li button:before {
    font-size: 11px;
    color: #000;
}

.section-content {
    padding: 0px 0;
}

.section-content#maiores-artistas {
    background: url("../img/bg-laranja.jpg");
}

.section-content#maiores-artistas .title-section h2 {
    color: #fff;
}

.section-content#maiores-artistas .slider-artistas .items .item .content {
    background: #fff;
}

.section-content#maiores-artistas .slick-arrow {
    color: #fff;
}

.section-content#maiores-artistas .slick-slider .slick-dots li button:before {
    color: #fff;
}

.section-content#mais-artistas {
    background: url("../img/bg-mais-artistas.png") no-repeat center 50px;
}

.section-content#mais-artistas .slider-artistas {
    margin-bottom: 10px;
}

.section-content#regiao-artistas {
    background: url("../img/bg-cinza.jpg");
}

.section-content#regiao-artistas .slider-artistas .items .item .content {
    background: #fff;
}

.section-content .title-section {
    display: block;
    padding-top: 20px;
    margin-bottom: 30px;
}

.section-content .title-section h2 {
    font-family: "Squada One", cursive;
    color: #000;
}

.parceiros > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.parceiros > ul > li {
    text-align: center;
    list-style: none;
}

.parceiros > ul > li a:hover {
    opacity: 0.8;
}

.parceiros > ul .slick-slide img {
    margin: auto;
}

.parceiros > ul .slick-arrow {
    font-size: 20px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .parceiros > ul {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .parceiros > ul > li {
        text-align: center;
        width: calc(50% - 20px);
    }
    .parceiros > ul > li img {
        width: 80%;
    }

    .item .content h2 {
        font-size: 16px !important;
        width: 100% !important;
        padding: 0 !important;
    }
}

.parceiros .slick-slider.slick-dotted {
    margin-bottom: 0;
}

.parceiros .slick-slider .slick-dots {
    bottom: -35px;
}

.parceiros .slick-slider .slick-dots li {
    margin: 0;
}

.parceiros .slick-slider .slick-dots li button:before {
    font-size: 11px;
    color: #000;
}

.parceiros {
    padding-bottom: 25px;
}

.mb0 {
    margin-bottom: 0px;
}

.box-artista {
    width: 249px;
}

.box-artista:hover {
    opacity: 0.8;
}

.box-artista .content .btn-light {
    position: absolute;
    right: 4px;
    bottom: 140px;
    z-index: 9;
    -webkit-box-shadow: 0 0 10px #0000005c;
    box-shadow: 0 0 10px #0000005c;
}
.box-artista .content {
    position: relative;
    padding: 0px 0px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: 0 0 12px #00000029;
    box-shadow: 0 0 12px #00000029;
}
.box-artista .content h2 {
    font-family: "Squada One", cursive;
    color: #000;
    font-size: 19px;
    margin-top: -15px;
}

.box-artista .content p {
    margin: 0px;
}

.box-artista .content .btn {
    margin-top: 10px;
}

.newContainer {
    width: 84%;
}

.form-control-lateral {
    padding: 0.175rem 0.75rem;
}

.form-group-lateral {
    margin-bottom: 0.7rem;
}

.ulFooter {
    margin-left: 96px;
    padding-left: 0px;
    color: #fff;
    text-align: left;
    list-style: none;
}

.colorWhite {
    color: #fff;
}

.header {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.23);
}

.divHourInitialBox {
    width: 11%;
    text-align: center;
    background: #ccc;
    padding: 10px;
    border-radius: 30px;
    margin: 6px 5px;
    font-weight: 700;
    cursor: pointer;
}

.divHourInitialBoxInactived {
    background: #ececec;
    color: #bdbdbd;
    cursor: default !important;
}

.divMinuteInitialBox {
    width: 24%;
}

.divHourInitialBoxSelected {
    background: #f70;
    color: #fff;
}

.width100 {
    width: 100%;
}

.cursorPoint {
    cursor: pointer !important;
}

.floatRight {
    float: right !important;
}

.divAditional {
    margin-top: -25px;
}

.fontBoldCash {
    font-weight: 700;
    font-size: 1.98rem;
}
.fontSizeDetail {
    font-size: 0.75rem !important;
}

.colorBad {
    color: #eb2f06 !important;
}

.btn-success {
    background: #05c46b !important;
    border: none !important;
}

.titleHours {
    font-weight: 400 !important;
}
.ml-10 {
    margin-left: 10px;
}

.buttonBorderOrange {
    cursor: pointer;
    width: auto;
    text-align: center;
    border-radius: 60px;
    color: #000;
    border: 1px solid #f70 !important;
    padding: 9px 40px;
    font-weight: 700;
    background: #fff;
}

.colorDisponivel {
    background: #ccc;
}

.colorSelecionada {
    background: #f70;
}

.colorOrange {
    color: #f70;
}
.colorIndisponivel {
    background: #ececec;
}

.ballLegend {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin: 4px;
    transition: 0.3s ease;
}

.divLegend {
    margin-left: 10px;
    margin-right: 15px;
    font-size: 12px;
}

.iconEditHourInitial {
    margin-top: 5px;
    padding: 5px 59px;
    font-size: 20px;
    margin-bottom: 10px;
}

.Button-container {
    width: 200px;
    display: flex;
    border-radius: 5px;
    height: 32px;
    margin-left: 20px;
    margin-top: 6px;
    margin-bottom: 20px;
}
.Button {
    width: 50%;
    text-decoration: none;
    outline: none;
    border-radius: 5px;
    border: 0;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
}
.Button_primary {
    background-color: #f70;
}
.Button_secondary {
    background-color: #dadada;
}

.visualizarDetailStructure {
    margin-top: -7px;
    width: 82px;
}

.aPartirdeMobile {
    width: 130px;
}

.titleMenuArtist {
    padding-top: 15px;
}

.font15rem {
    font-size: 1.5rem;
}

.btnContinuar {
    padding: 13px;
    font-size: 1.35rem;
    font-weight: 600;
}

.legendHora {
    margin-bottom: 5px;
    margin-top: 10px;
}

.textCenter {
    text-align: center;
}

.ml-20 {
    margin-left: 20px;
}

@media only screen and (min-width: 768px) {
    .row .listArtista {
        max-width: 20% !important;
    }
}

.boxStructure {
    background: #f3f3f3;
    padding: 22px 15px 1px;
    margin-bottom: 15px;
    margin-left: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
}

.boxStructureSelected {
    background: #ff770040;
}

.ml-20-desktop {
    margin-left: 20px;
}
.pb-30 {
    padding-bottom: 30px !important;
}

.iconHour {
    width: 28px !important;
    margin-left: 7px;
    margin-right: 17px !important;
}

.imgStructureBuy {
    width: 22px;
    height: 22px;
    margin-right: 15px;
}

.titleStructureBuy {
    font-size: 1rem;
}

.structureBuy .line-icon p {
    font-size: 11px;
}
.mt-20 {
    margin-top: 20px !important;
}

.mr-20 {
    margin-right: 20px;
}
