/* Sections Header
  --------------------------------*/

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.section-header {
    margin-bottom: 60px;
    position: relative;
    padding-bottom: 20px;
}

.section-header::before {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 5px;
    background: #9e9e9e;
    bottom: 0;
    left: calc(50% - 25px);
}
.section-header.left::before {
    display: none;
}
.section-header h2 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
}

.section-header p {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #9195a2;
}

.section-with-bg {
    background-color: #f6f7fd;
}

/* Back to top button */

.back-to-top {
    position: fixed;
    display: none;
    background: #ff7700;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s ease-in-out;
}

.back-to-top i {
    font-size: 24px;
    padding-top: 6px;
}

.back-to-top:focus {
    background: #ffd100;
    color: #fff;
    outline: none;
}

.back-to-top:hover {
    background: #ffd100;
    color: #fff;
}
.breadcrumb {
    padding-top: 10px;
    padding-left: 0px !important;
    padding-bottom: 0px !important;
    background: none;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}
.breadcrumb a {
    color: #f70;
}
.flags {
    display: flex;
    margin-bottom: 30px;
}
.flags .flag {
    display: flex;
    border-left: solid 5px #f70;
    height: 70px;
    padding: 15px;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
    background: #fff;
}
.flags .flag span {
    color: #f70;
    font-size: 30px;
    padding: 0px 15px 0px 0px;
}
.flags .flag h3 {
    color: #f70;
    font-weight: 600;
    font-size: 15px;
    margin: 0px;
}
.flags .flag a {
    color: #ff7700;
}
.flags .flag a:hover {
    text-decoration: underline;
}

/*--------------------------------------------------------------
# CARDS
--------------------------------------------------------------*/
.card {
    border: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
}
.card .card-header {
    background: #fff;
}
.card .card-header .btn-primary {
    height: 40px;
    width: 40px;
    border-radius: 60px;
}
.card .card-header .btn {
    white-space: normal !important;
}
.card .card-body .card-title {
    font-size: 1rem;
    color: #9593aa;
}
.card .card-body .block-item {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.card .card-body .block-item.indisponivel {
    background: #f8f8fb;
}
.card .card-body .block-item h4 {
    color: #9593aa;
    font-size: 18px;
    margin: 0px;
}
.card .card-body .block-item span {
    color: #ff7700;
}
.card .card-body .block-item span.badge-danger {
    color: #fff;
    font-weight: normal;
}
.card .card-body .block-item p {
    margin-bottom: 0;
}
.card .card-body .block-item .valor-itens h6,
.card .card-body .block-item .valor-itens .itens-number {
    float: right;
}
.card .card-body .block-item .valor-itens h6 {
    margin-top: 6px;
}
.card .card-body .block-item .btn-avise {
    font-size: 12px;
    line-height: 0px;
    margin-top: 0px;
    height: 30px;
}
.card .card-body .valor-itens .itens-number {
    width: 120px;
}
.card .card-body .itens-number .form-control {
    border: none;
    height: 40px;
    background: none;
    text-align: center;
    font-size: 27px;
    margin-top: -6px;
}
.card .card-body .itens-number .btn {
    width: 30px;
    height: 30px;
    line-height: 5px;
    text-align: center;
    padding: 0px;
    border-radius: 4px;
    border: none;
}
.card .card-footer {
    background: #f70;
    background: -moz-linear-gradient(left, #f70 0%, #ff7700 100%);
    background: -webkit-linear-gradient(left, #f70 0%, #ff7700 100%);
    background: linear-gradient(to right, #f70 0%, #ff7700 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f70', endColorstr='#ff7700',GradientType=1 );
    border-top-color: #f8f8fb;
    color: #fff;
}
.card .list-group {
    border: none;
}
.card .list-group h4 {
    margin-bottom: 0px;
}
.card .list-group h4 i {
    font-size: 15px;
}
.card .list-group .list-group-item {
    line-height: 33px;
    border-right: none;
    border-left: none;
}
.card .list-group .list-group-item:first-child {
    border-top: 0px;
}
.card .list-group .list-group-item:last-child {
    border-bottom: 0px;
}
.card .list-group .list-group-item:first-child,
.card .list-group .list-group-item:last-child {
    border-radius: 0px;
}
.card .card-body .block-item h6 {
    margin-bottom: 5px;
}

.card .card-body .card {
    border: none;
    box-shadow: none;
}
.card .card-body .card .card-header {
    color: #9593aa;
    padding: 0px;
    border: solid 1px #dbdde0;
    background: #ebedf2;
}
.card .card-body .card .card-header * {
    text-decoration: none;
    color: #9593aa;
}

.meuh2 {
    color: #9593aa;
    font-weight: normal;
    font-size: 17px;
    text-transform: uppercase !important;
    font-weight: 700 !important;
    margin: 0px;
    color: #9593aa;
}

#progressbar {
    margin-bottom: 10px;
    overflow: hidden;
    color: lightgrey;
}

#progressbar .active {
    color: #f70;
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
    text-align: center;
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f217";
    font-size: 33px;
    padding: 8px 4px 0 0px;
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007";
    font-size: 33px;
    padding: 7px 2px 0 0px;
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f09d";
    font-size: 30px;
    padding: 9px 0px 0px 0px;
}

#progressbar #buy:before {
    font-family: FontAwesome;
    content: "\f00c";
    font-size: 30px;
    padding: 9px 0px 0px 0px;
}

#progressbar li:before {
    width: 60px;
    height: 60px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

#progressbar li:after {
    content: "";
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 30px;
    z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #f70;
}

.progress {
    height: 20px;
}

.progress-bar {
    background-color: #f70;
}

.fit-image {
    width: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    #progressbar li:after {
        top: 22px;
    }

    #progressbar li:before {
        width: 48px;
        height: 48px;
    }

    #progressbar #account:before {
        font-size: 28px;
        padding: 2px 4px 0 0px;
    }

    #progressbar #personal:before {
        font-size: 28px;
        padding: 0px;
    }

    #progressbar #payment:before {
        font-size: 25px;
        padding: 2px 0px 0px 0px;
    }

    #progressbar #buy:before {
        padding: 1px 0px 0px 0px;
    }

    .displayNoneDesktop {
        display: block;
    }
}

.mt-32 {
    margin-top: 32px;
}

.imgStructure {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.inline-flex {
    display: inline-flex;
}
.ml-10 {
    margin-left: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}
.colorOrange {
    color: #f70;
}
.line-value-structure {
    margin-left: 45px;
    margin-top: -11px;
}

.containerCheckbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.containerCheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ccc;
}

/* On mouse-over, add a grey background color */
.containerCheckbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerCheckbox input:checked ~ .checkmark {
    background-color: #f70;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.containerCheckbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.containerCheckbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.input-confirm-cupom {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.btnCupom {
    border-radius: 4px;
}

.newBackgroundDegrad {
    background: #ff7700;
    background: -moz-linear-gradient(left, #ff7700 0%, #fb851e 100%);
    background: -webkit-linear-gradient(left, #ff7700 0%, #fb851e 100%);
    background: linear-gradient(to right, #ff7700 0%, #fb851e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7700', endColorstr='#fb851e',GradientType=1 );
}

.btn-success {
    background: #ff7700;
    border-color: #ff7700;
}

.btn-success:hover {
    background: #e06b04;
    border-color: #e06b04;
}

.textError {
    color: red;
}

.displayNoneDesktop {
    display: none;
}

.displayNone {
    display: none;
}

.inputError {
    border: 1px solid red;
}

.card-header .styled-radio:checked + label:after {
    top: 4px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #ff7700;
    border-color: #ff7700;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background: #f8f8fb;
    color: #9593aa;
}
.nav-justified .nav-item {
    padding: 0px 5px;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.item {
    width: 100%;
}

.minha-conta [data-toggle="collapse"] {
    text-align: left;
    width: 100%;
}
.minha-conta [data-toggle="collapse"] .fa {
    float: right;
}
.minha-conta [data-toggle="collapse"] .fa:before {
    content: "\f0d8";
}

.minha-conta [data-toggle="collapse"].collapsed .fa:before {
    content: "\f0d7";
}
.minha-conta .card .card-body .card .card-header {
    background: #ff7700;
    background: -moz-linear-gradient(left, #ff7700 0%, #ff7700c4 100%);
    background: -webkit-linear-gradient(left, #ff7700 0%, #ff7700c4 100%);
    background: linear-gradient(to right, #ff7700 0%, #ff7700c4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7700', endColorstr='#ff7700c4',GradientType=1 );
}
.minha-conta .card .card-body .card .card-header * {
    color: #fff !important;
}
.minha-conta .card .card-body .card .card-header .btn-warning {
    border-radius: 60px;
}
.minha-conta .card .card-body .card .card-header .thumb {
    float: left;
    margin-right: 10px;
    width: 100px;
    height: 100px;
    background: gray;
    overflow: hidden;
    border-radius: 4px;
}
.minha-conta .card .card-body .card .card-header .title {
    margin-right: 20px;
}

.btn-black {
    padding: 6px 26px;
    border-color: #000;
}
