/*--------------------------------------------------------------
# Mixins
--------------------------------------------------------------*/
@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    flex-direction: $direction;
    align-items: center;
}
/*--------------------------------------------------------------
# Cores
--------------------------------------------------------------*/
$cor1: #fff;
$cor2: #000;
$cor3: #ff7700;
$cor4: #da6600;
$cor5: #525252;
$cor6: #f8f8f8;
/*--------------------------------------------------------------
# Variáveis
--------------------------------------------------------------*/
$mobileMax: 768px;
$laptopMax: 1800px;
$borderRadius: 6px;
$borderCircle: 6000px;
$imagePath: "../img";
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html {
    scroll-behavior: smooth;
}
* {
    outline: none !important;
}
.title-box {
    font-family: "Squada One", cursive;
    color: #000;
}
.btn,
.nav-pills .nav-link {
    font-family: "Squada One", cursive;
    border-radius: 60px;
}
.nav-pills .nav-link {
    color: $cor3;
}
.text-warning {
    color: $cor3 !important;
}
.btn-warning,
.nav-pills .nav-link.active {
    color: $cor1;
    background: $cor3;
    border-color: $cor3;
    &:hover {
        color: $cor1;
        border-color: $cor4;
        background: $cor4;
    }
}
p {
    color: $cor5;
}
.fc .fc-non-business {
    background: $cor1 !important;
}
.fc-h-event .fc-event-main {
    white-space: break-spaces !important;
    text-align: center !important;
    width: 100%;
}
.fc .fc-button-primary {
    color: $cor3 !important;
    border-color: $cor3 !important;
    background: $cor1 !important;
}
.fc-event-main .event-destaque {
    padding: 2px 4px;
    border-radius: 60px;
    color: $cor1;
    background: $cor3;
}
.fc-event-main .event-simples {
    color: $cor2;
}
.fc-event-main small {
    display: block;
    color: $cor2;
}
.fc-header-toolbar {
    .fc-toolbar-chunk:nth-child(3) {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .fc .fc-button-group > .fc-button {
        padding: 0;
    }
    .fc .fc-button {
        padding: 0;
    }
    .fc .fc-toolbar-title {
        font-size: 1em;
    }
    .fc-h-event .fc-event-main {
        white-space: break-spaces !important;
        overflow-wrap: break-word;
    }
    .fc-event-main .event-destaque {
        font-size: 9px;
    }
    .fc-event-main .event-simples {
        font-size: 9px;
    }
}
#modal-cadastro {
    @media only screen and (max-width: 768px) {
        .nav {
            flex-direction: column;
        }
    }
}
/*--------------------------------------------------------------
# Includes
--------------------------------------------------------------*/
@import "includes/header";
@import "includes/footer";

/*--------------------------------------------------------------
# Modules
--------------------------------------------------------------*/
@import "modules/search";
@import "modules/float-menu";
@import "modules/artist-info";
@import "modules/agent-info";
@import "modules/content-sobre";
@import "modules/agenda";
@import "modules/avaliacoes";
@import "modules/galeria";
@import "modules/repertorio";
@import "modules/box-adicionar-tempo";
@import "modules/slider-horas";
