#avaliacoes{
    margin:20px 0; 
    .col-md-6{
        margin-bottom:20px;
    }
    .avaliacao-user{
        p{
            a{
                color:$cor2;
                font-weight: 500;
            }
        }
        .content-avaliacao-user{
            display: flex;
            align-items: center;          
            width:100%;
            .thumb{
                display: flex;
                justify-content: center;
                align-items: center;
                width:80px;
                height: 80px;
                overflow: hidden;
                border-radius: 60px;  
                margin-right:20px;
            }
            .content-info{
                p{
                    margin-bottom:5px;
                }
            }
            .lightgallery{
                display:flex;
                max-width:200px;
                a{
                    margin:0 5px;
                    width:calc(50% - 5px)
                }
            }
        }
    }
    @media only screen and (max-width:$mobileMax){
        .content-avaliacao-user{
            flex-direction: column;
            .lightgallery{
                width:180px;
                margin:15px 0;
            }
        }
        .col-md-12{
            .btn{
                margin:auto;
                display: block;
            }
        }
    }
}