.box-adicionar-tempo{
    margin-top: 10px;
    .title-box{
        padding: 10px;
        background: $cor3;
        color: $cor1;
        border-radius: 4px 4px 0 0;
        display: inline-block;
    }
    .content-box{
        padding: 20px;
        border: solid 1px #d0d0d0;
    }
}