.section-content{
    padding:50px 0;
    &#maiores-artistas{
        background:url('../img/bg-laranja.jpg');
        .title-section{
            h2{
                color:$cor1;
            }
        }
        .slider-artistas{
            .items{
                .item{
                    .content{
                        background:$cor1;
                    }
                }
            }
        }
        .slick-arrow{
            color:$cor1;
        }
        .slick-slider{
            .slick-dots{
                li{
                    button:before{
                        color:$cor1;
                    }
                }
            }
        }        
    }
    &#mais-artistas{
        background:url('../img/bg-mais-artistas.png') no-repeat center 50px;
        .slider-artistas{
            margin-bottom:60px;
        }
    }
    &#regiao-artistas{
        background:url('../img/bg-cinza.jpg');
        .slider-artistas{
            .items{
                .item{
                    .content{
                        background:$cor1;
                    }
                }
            }
        }
    }
    .title-section{
        display:block;
        margin-bottom:30px;
        h2{
            font-family: 'Squada One', cursive;
            color: $cor2;
        }
    }
}