.slider-artistas{
    @media only screen and (max-width: 425px) {
        margin:0 -10px;
    }    
    .slick-track{
        padding:0 0 50px 0;
    }
    .items{
        display: flex;
        justify-content: center;
        align-items: center;
        .item{
            padding:0 10px;
            @media only screen and (max-width: 425px) {
                padding:5px;
            }
            &:hover{
                opacity:0.8;
            }
            .thumb{
                overflow: hidden;
                border-radius: 10px 10px 0 0;
                img{
                    width:100%;
                }
            }
            .content{
                position: relative;
                padding:10px 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                border-radius:  0 0 10px 10px;
                box-shadow: 0 0 12px #00000029;
                .btn-light{
                    position: absolute;
                    right:10px;
                    top:-28px;
                    z-index: 9;
                    box-shadow: 0 0 10px #0000005c
                }
                h2{
                    font-family: 'Squada One', cursive;
                    color: $cor2;
                    font-size:19px;
                    margin-top:5px;
                }
                p{
                    margin:0px;
                    @media only screen and (max-width: 425px) {
                        text-align: center;
                    }                    
                }
                .btn{
                    margin-top:10px;
                    @media only screen and (max-width: 425px) {
                        font-size: 13px;
                    }
                }
                .rate-area {
                    margin:0px;
                    label{
                        margin:0 2px;
                        @media only screen and (max-width: 425px) {
                            width: 0.4em;
                            line-height: 0;
                            &:before{
                                font-size:18px;
                                line-height: 0.8;
                            }
                        }
                    }
                }
            }
            &.disponivel{
                .thumb{
                    position: relative;
                    &:before{
                        content: "";
                        background: #00bb64;
                        position: absolute;
                        height: 15px;
                        width: 15px;
                        z-index: 9;
                        bottom: 11px;
                        left: 10px;
                        border-radius: 30px;
                        border: solid 2px #fff;
                        box-shadow: inset 0 0 10px #00000038;
                    }                    
                    &:after{
                        content:"Disponivel agora";
                        position: absolute;
                        bottom: 0px;
                        padding:10px 0;
                        text-indent: 30px;                        
                        color:$cor1;
                        font-weight: bold;
                        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
                        width:100%;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .slick-arrow{
        font-size:30px;
        cursor:pointer;
    }
    .slick-slider{
        &.slick-dotted{
            margin-bottom:0;
        }
        .slick-dots{
            bottom:-35px;
            li{
                margin:0;
                button:before{
                    font-size:11px;
                    color:$cor2;
                }
            }
        }
    }
}